
<div class="container">
  <div class="card recover"
        style="background-color: #ef9b3c !important;">
        <div class="card-body">
            <h5 class="card-title">Recuperación de Contraseña</h5>

            <p class="card-text">
              Por favor ingrese el correro electronico con el que se registró.
            </p>
            <form [formGroup]="formRecover"
                  (ngSubmit)="recoverPass()">

                  <div class="col-md-12 aliniacion">
                    <div class="form-group">
                      <label >Email</label>
                        <input type="text"
                               placeholder="Ingresar email"
                               class="form-control"
                               formControlName="user_email"
                               [class.is-invalid]="emailNoValido ">

                       <small *ngIf="emailNoValido" class="text-danger">
                         El email es obligatorio.
                       </small>
                     </div>
                  </div>
                  <div class="col-md-12 aliniacion" *ngIf="error ">
                    <small  class="text-danger">
                      {{ mensaje }}
                    </small>
                  </div>
                  <div class="col-md-12 aliniacion" *ngIf="!loader">
                    <button type="submit"
                            style="width:100% !important"
                            class="btn btn-primary"
                            name="button">
                            Enviar
                    </button>
                  </div>
                  <div class="col-md-12" *ngIf="loader">
                  	<div class="form-group">
                  		<button type="submit"
            									[disabled]="loader"
            									style="width:100% !important"
            									class="btn btn-primary">
                  			<i  class="fas fa-spinner fa-spin "></i>
                  		</button>


                  	</div>
                  </div>
            </form>
            <br>
            <div class="col-md-12 aliniacion" *ngIf="status==200">
              <small style="font-size:1.2rem;" >
                {{ mensaje }}
              </small>
            </div>

         </div>
  </div>
</div>
