.btn-color{
	background-color: #17a2b8 ;
	color: white;
	border-color: #17a2b8;
}

.form-brand{
	padding: 1em !important;
	color:#fff;
	background-color:  #ef9b3c;
	border: 1px solid #c1c1c1;
	margin-top: 2rem;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	padding: 1em;
}