<div class="main-container">
    <div class="row ng-star-inserted">
        <div class="col-4">
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">Ubicación</h3>
                </div>
                <div class="panel-body">
                    <h5 class="item-contacto">
                        <strong>Buenos Aires</strong>
                    </h5>
                    <div class="items-contactos">
                        <h4 class="item-contacto">
                            <i class="fas fa-map-marker-alt"></i>
                        </h4>
                        <h4 class="item-contacto">
                            <i class="fas fa-phone-alt"></i>
                        </h4>
                        <h4 class="item-contacto">
                            <i class="fas fa-envelope-square"></i>lablanquita@gmail.com
                        </h4>
                        <h4 class="item-contacto">
                            <i class="fab fa-whatsapp"></i>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Sucursal Buenos Aires
                    </h3>
                </div>
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.6094557185106!2d-65.41426558499884!3d-24.7745761840945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3c694fd4493%3A0xb288e16d1d497f4!2s12%20de%20Octubre%20y%2020%20de%20Febrero!5e0!3m2!1sen!2sar!4v1603197963832!5m2!1sen!2sar"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>


    </div>
</div>

<!--<div *ngIf="prueba">
    <h1 [class.prueba]="prueba">probando</h1>
</div>-->