<div class="container mt-5 mb-5">
  <div class="spinner-loader" *ngIf="loader == true">
    <i  class="fas fa-spinner fa-spin fa-4x "></i>
  </div>
</div>

<div class="container mt-5 mb-5 panel-smart-tabla" *ngIf="Product != undefined" >

  <div class="col-12">
    <div class="row  mt-3 mt-md-0 product-info">
      <div class="col-5" *ngIf="scrWidth>768">
        <figure>
          <div>
            <img [src]="url_image + Product.product_image" alt="" class="img-fluid" style="display:inline;">
          </div>
        </figure>
      </div>
      <div class="col-12" *ngIf="scrWidth<768">
        <figure>
          <div>
            <img [src]="url_image + Product.product_image" alt="" class="img-fluid" style="display:inline;">
          </div>
        </figure>
      </div>
      <div class="col-sm-7 product-details name-product">
        <h2>{{Product.product_name}}</h2>
        <hr>
        <ul class="list-unstyled manufacturer">
          <li>
            <span class="atr">Categoria:</span>
            {{Product.category.category_name}}
          </li>
          <br>
          <li>
            <span class="atr">Marca:</span>
            {{Product.brand.brand_name}}
          </li>
          <br>
          <li>
            <span class="atr">Precio:</span>
            $ {{Product.product_price}}
          </li>
          <br>
          <li *ngIf="Product.product_stock == false">
            <span class="atr">Disponibilidad:</span>
            <span class="atr badge badge-danger text-white">SIN STOCK</span>
          </li>
          <li *ngIf="Product.product_stock == true">
            <span class="atr">Disponibilidad:</span>
            <span class="atr badge  badge-stock text-white">HAY STOCK</span>
          </li>
        </ul>
        <hr>

      <div class="form-group">
        <a href="https://api.whatsapp.com/send?phone=5491157505056&amp;text=Hola%20Limpieza%20Blanquita" class="decoration" target="_blank">
          <button type="button" style="width:100% !important" class="btn btn-success mb-1 ">
            <i class="fab fa-whatsapp"></i>
            <strong >CONSULTAR</strong>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="product-info">
    <h4 class="heading">Descripción</h4>
    <div class="content panel-smart-tabla">

      <div class="col-md-12">
        <p class="">
          {{ description }}
        </p>
      </div>
    </div>

  </div>
</div>
</div>
