
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12">
			<button type="button"
			class="btn btn-primary float-left "
			(click)="goGrid()">
			<i class="fas fa-angle-left"></i> Volver a Grilla</button>
		</div>

	</div>
</div>

<div class="container mt-5">
	<form [formGroup]="form" (ngSubmit)="register()" class="formulario" >
		<div class="row d-flex justify-content-start">
			<div class="media col-md-12">
  				<div class="media-body " align="center">
  					<br>
  					<h1>Registrar Producto</h1>

  				</div>
          <div class="media-right product-images" align="center">
            <img class="imagen-producto" [src]="url_image"   alt="">
          </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
              <label for="category"><strong>Categoría:</strong></label>
              <select
              class="form-control"
              [class.is-invalid] = "categoryNoValida"
              formControlName="category_id">
                <option value="">Seleccione categoría</option>
                <option [value]="category.category_id"
                        *ngFor="let category of listCategories">
                        {{category.category_name}}
                </option>
              </select>
              <small *ngIf="categoryNoValida"
                     class="text-danger">
                El campo categoría es obligatorio.
              </small>
            </div>
      </div>
      <div class="col-md-4">
            <div class="form-group">
              <label for="brand"><strong>Marca:</strong></label>
              <select
              class="form-control"
              [class.is-invalid] = "brandNoValida"
              formControlName="brand_id">
                <option value="">Seleccione marca</option>
                <option  [value]="brand.brand_id"
                         *ngFor="let brand of listBrands">
                  {{brand.brand_name}}
                </option>
              </select>
              <small *ngIf="brandNoValida"
                     class="text-danger">
                El campo marcas es obligatorio.
              </small>
            </div>
      </div>
      <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">
                <strong>Imagen Producto:</strong>
              </label>
              <input type="file"
                     class="form-control"
                     [class.is-invalid] = "imageNoValido"
                     formControlName="product_image"
                     (change)="selectFile($event)">
              <small *ngIf="imageNoValido"
                      class="text-danger">
                El campo imagen es obligatorio.
              </small>
            </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="product_name"><strong>Nombre Producto:</strong></label>
          <input type="text"
              id="product_name"
              placeholder="Ingresar el nombre"
              formControlName="product_name"
              class="form-control"
              [class.is-invalid]="nameNoValido">
          <small *ngIf="nameNoValido" class="text-danger">
             El campo nombre es obligatorio.
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-label"><strong>Descripción:</strong></label>
          <input type="text"
                 class="form-control"
                 [class.is-invalid] = "descriptionNoValido"
                 placeholder="Ingresar descripcion"
                 formControlName="product_description">
        </div>
        <small *ngIf="descriptionNoValido" class="text-danger">
          El campo descripción es obligatorio.
        </small>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label"><strong>Precio:</strong></label>
          <input type="number"
                 class="form-control"
                 [class.is-invalid] = "precioNoValido"
                 placeholder="Ingresar precio"
                 step="0.01"
                 min="0"
                 max="1000000"
                 formControlName="product_price">
          <small *ngIf="precioNoValido" class="text-danger">
            El campo precio es obligatorio.
          </small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label"><strong>Stock:</strong></label>
          <select class="form-control"
                  [class.is-invalid] = "stockNoValido"
                  formControlName="product_stock">
            <option value=1>Si</option>
            <option value=0>No</option>
          </select>
          <small *ngIf="stockNoValido" class="text-danger">
            El campo stock es obligatorio.
          </small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label"><strong>Oferta del Día:</strong></label>
          <select class="form-control"
                  [class.is-invalid] = "offerNoValido"
                  formControlName="product_offer_day"
                  (change) = "changeOffer()">
            <option value=1>Si</option>
            <option value=0>No</option>
          </select>
          <small *ngIf="offerNoValido" class="text-danger">
            El campo destacado es obligatorio.
          </small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label"><strong>Ubicación del Carousel:</strong></label>
          <select class="form-control"
                  formControlName="product_offer_day_order">
            <option value=0>Seleccione orden en el Carosuel</option>
            <option [value]="order"
                    *ngFor="let order of caoruselOpcion"
										[class.ocupado]="listOfferOcupied.includes(order)"
										[class.libre]="!listOfferOcupied.includes(order)">
										{{ order }}
						</option>
          </select>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">
						<strong>Destacado:</strong>
					</label>
          <select class="form-control"
                  [class.is-invalid] = "bestNoValido"
                  formControlName="product_best_seller"
                  (change) = "changeBest()">
            <option value=1>Si</option>
            <option value=0>No</option>
          </select>
          <small *ngIf="bestNoValido" class="text-danger">
            El campo nuevo lanzamiento es obligatorio.
          </small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label">
						<strong>Ubicación del Carousel:</strong>
					</label>
          <select class="form-control"
                  formControlName="product_best_seller_order">
            <option value=0>Seleccione orden en el Carosuel</option>
            <option [value]="order"
                    *ngFor="let order of caoruselOpcion"
										[class.ocupado] = "listBestOcupied.includes(order)"
										[class.libre] = "!listBestOcupied.includes(order)">
                    {{ order }}
            </option>
          </select>

        </div>
      </div>
      <div class="col-md-12" *ngIf="error">
      	<div class="form-group">
      		<strong class="text-danger">
      			No se pudo registrar la marca. Hubo error al enviar los datos
      		</strong>
      	</div>
      </div>
      <div class="col-md-12" *ngIf="!loader">
      	<div class="form-group">
      		<button type="submit"
									style="width:100% !important"
									class="btn btn-primary">
      			<strong >Registrar Producto</strong>
      		</button>

      	</div>
      </div>
      <div class="col-md-12" *ngIf="loader">
      	<div class="form-group">
      		<button type="submit"
									[disabled]="loader"
									style="width:100% !important"
									class="btn btn-primary">
      			<i  class="fas fa-spinner fa-spin "></i>
      		</button>


      	</div>
      </div>
    </div>
  </form>

</div>
