

<div class="bg-dark">

	<div class="container ">
		<div class="hidden-info ">
			<div class="row mb-5">
				<!-- FACEBOOK -->
				<div class="col-md-4 col-sm-6 text-center mt-5 animate__animated animate__slow  animate__backInUp">
					<div class=" ">

						<a href="#" class="decoration" target="_blank">

							<h3 >
								<i class="fab fa-facebook botones-contacto"></i>
								<b class="botones-contacto">FACEBOOK</b>
								<p class="contacto">www.facebook.com/...</p>

							</h3>
						</a>
					</div>


				</div>

				<!-- INSTAGRAM -->

				<div class="col-md-4 col-sm-6 text-center mt-5 animate__animated animate__slow  animate__backInUp">
					<a href="#" class="decoration" target="_blank">

						<h3 >
							<i class="fab fa-instagram botones-contacto"></i>
							<b class="botones-contacto">INSTAGRAM</b>
							<p class="contacto">www.instagram.com/...</p>

						</h3>
					</a>

		  	</div>

				<!-- TWITTER  -->
				<div class="col-md-4 col-sm-6 text-center mt-5 animate__animated animate__slow  animate__backInUp">
					<a href="#" class="decoration" target="_blank">

						<h3 >
							<i class="fab fa-twitter botones-contacto"></i>
							<b class="botones-contacto">TWITTER</b>
							<p class="contacto">www.twitter.com/...</p>
						</h3>
					</a>

		  	</div>

				<!-- EMAIL -->
				<div class="col-md-4 col-sm-6 text-center animate__animated animate__slow  animate__backInUp">
					<h3 >
						<i class="fa fa-envelope botones-contacto"></i>
						<b class="botones-contacto">ESCRIBINOS</b>
						<p class="contacto">...@gmail.com</p>

					</h3>

				</div>
				<!-- Télefono contacto -->
				<div class="col-md-4 col-sm-6 text-center animate__animated animate__slow  animate__backInUp">
					<h3 >
						<i class="fa fa-phone botones-contacto "></i>
						<b class="botones-contacto">TELÉFONO </b>
						<p class="contacto">011 ...</p>
					</h3>

				</div>

				<!-- Horarios -->
				<div class="col-md-4 col-sm-6 text-center animate__animated animate__slow  animate__backInUp">
					<h3 >
						<i class="fa fa-calendar botones-contacto"></i>
						<b class="botones-contacto">HORARIOS</b>
						<p class="contacto">Lunes a Viernes de 10 a 19 hs.
							<br>
							Sábado de 10 a 13 hs.
						</p>

					</h3>

				</div>


			</div>
		</div>
	</div>
</div>
