<div class=" mt-2">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	  </ol>
	  <div class="carousel-inner ">
	    <div class="carousel-item imagen-carousel active">
	      <img src="assets/img/carousel/img1.jpeg"
						 class="d-block w-100 alto-imagen" alt="...">
				<div class="carousel-caption d-none d-md-block">
        		<h5>First slide label</h5>
        		<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      	</div>
	    </div>
	    <div class="carousel-item imagen-carousel">
	      <img src="assets/img/carousel/img2.jpeg"
				     class="d-block w-100 alto-imagen" alt="...">
				 <div class="carousel-caption d-none d-md-block">
         		<h5>First slide label</h5>
         		<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
       	</div>
	    </div>
	    <div class="carousel-item imagen-carousel">
	      <img src="assets/img/carousel/img3.jpeg"
				     class="d-block w-100 alto-imagen" alt="...">
				 <div class="carousel-caption d-none d-md-block">
	       		<h5>First slide label</h5>
	       		<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	     	</div>
	    </div>
			<div class="carousel-item imagen-carousel">
	      <img src="assets/img/carousel/img4.jpeg"
				     class="d-block w-100 alto-imagen" alt="...">
				<div class="carousel-caption d-none d-md-block">
 					 <h5>First slide label</h5>
 					 <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
 			 	</div>
	    </div>
	  </div>
	  <a class="carousel-control-prev"
		   href="#carouselExampleIndicators"
			 role="button"
			 data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

</div>

<div class="row adaptacion bg-fondo">

	<div class="container ">
		<div class="hidden-info ">
			<div class="row mb-5">
				<!-- FACEBOOK -->
				<div class="col-md-4 col-sm-6 text-center mt-5 animate__animated animate__slow  animate__backInUp">
					<div class=" ">

						<a href="#" class="decoration" target="_blank">

							<h3 >
								<i class="fab fa-facebook botones-contacto"></i>
								<b class="botones-contacto">FACEBOOK</b>
								<p class="contacto">www.facebook.com/...</p>

							</h3>
						</a>
					</div>


				</div>

				<!-- INSTAGRAM -->

				<div class="col-md-4 col-sm-6 text-center mt-5 animate__animated animate__slow  animate__backInUp">
					<a href="#" class="decoration" target="_blank">

						<h3 >
							<i class="fab fa-instagram botones-contacto"></i>
							<b class="botones-contacto">INSTAGRAM</b>
							<p class="contacto">www.instagram.com/...</p>

						</h3>
					</a>

		  	</div>

				<!-- TWITTER  -->
				<div class="col-md-4 col-sm-6 text-center mt-5 animate__animated animate__slow  animate__backInUp">
					<a href="#" class="decoration" target="_blank">

						<h3 >
							<i class="fab fa-twitter botones-contacto"></i>
							<b class="botones-contacto">TWITTER</b>
							<p class="contacto">www.twitter.com/...</p>
						</h3>
					</a>

		  	</div>

				<!-- EMAIL -->
				<div class="col-md-4 col-sm-6 text-center animate__animated animate__slow  animate__backInUp">
					<h3 >
						<i class="fa fa-envelope botones-contacto"></i>
						<b class="botones-contacto">ESCRIBINOS</b>
						<p class="contacto">...@gmail.com</p>

					</h3>

				</div>
				<!-- Télefono contacto -->
				<div class="col-md-4 col-sm-6 text-center animate__animated animate__slow  animate__backInUp">
					<h3 >
						<i class="fa fa-phone botones-contacto "></i>
						<b class="botones-contacto">TELÉFONO </b>
						<p class="contacto">011 ...</p>
					</h3>

				</div>

				<!-- Horarios -->
				<div class="col-md-4 col-sm-6 text-center animate__animated animate__slow  animate__backInUp">
					<h3 >
						<i class="fa fa-calendar botones-contacto"></i>
						<b class="botones-contacto">HORARIOS</b>
						<p class="contacto">Lunes a Viernes de 10 a 19 hs.
							<br>
							Sábado de 10 a 13 hs.
						</p>

					</h3>

				</div>


			</div>
		</div>
	</div>
</div>
<!-- OFERTAS DEL DIA -->
<div class="row adaptacion " >

	<div class="container mt-5 text-center " >
		<b *ngIf="listProduct_OfferDay?.length > 0"
				class="botones-contacto mb-4 letra">
				PRODUCTOS DESTACADOS
		</b>
		<owl-carousel-o [options]="customOptions">

			<ng-container>

				<ng-template *ngFor="let offert of listProduct_OfferDay"
				carouselSlide [id]="offert.product_id">

					<div class="card tarjetas">
						<div class="slide">

							<img [src]="offert.product_image"
							class="card-img-top"
							alt=""
							height="250" width="500">
						</div>
						<div class="card-body bg-fondo">
							<h5 class="card-title botones-contacto">
									{{offert.product_name}}
							</h5>
							<h4 class="card-title marca-product">
								{{ offert.brand.brand_name }}
							</h4>
							<p class="card-text descripcion">
								<strong>

									{{ offert.product_description }}
								</strong>
							</p>
							<div  class="row">
								<h3 class="mr-5 precio">Precio: ${{ offert.product_price | number:'.0-2' }}</h3>
								<!-- <a href="#" class="btn btn-secondary"> Comprar</a> -->
							</div>
							<div class="row" style="justify-content:center;">
								<a href="https://api.whatsapp.com/send?phone=543875851100&amp;text=Hola%20La%20Blanquita" class="decoration" target="_blank">

									<button type="button" class="btn btn-success mb-1">
										<i class="fab fa-whatsapp"></i>
										Realizar Consulta
									</button>
								</a>
							</div>
							<div class="row">
								<h3 *ngIf="offert.product_stock"
										class="mr-5 stock precio">
										Hay stock
								</h3>
								<h3 *ngIf="!offert.product_stock"
										class="mr-5 stock sinStock">
										No Hay stock
								</h3>

							</div>

						</div>
					</div>

				</ng-template>

		  </ng-container>

	  </owl-carousel-o>

	</div>
</div>
<!-- PRODUCTOS MAS VENDIDOS -->
<div class="row adaptacion " >

	<div class="container mt-5 text-center " >
		<b *ngIf="listProduct_OfferDay?.length > 0"
				class="botones-contacto mb-4 letra">
				PRODUCTOS DESTACADOS
		</b>
		<owl-carousel-o [options]="customOptions">

			<ng-container>

				<ng-template *ngFor="let best of listProduct_BestSeller"
				carouselSlide [id]="best.product_id">

				<div class="card tarjetas">
					<div class="slide">

						<img [src]="best.product_image"
						class="card-img-top"
						alt=""
						height="250" width="500">
					</div>
					<div class="card-body bg-fondo">
						<h5 class="card-title botones-contacto">
								{{best.product_name}}
						</h5>
						<h4 class="card-title marca-product">
							{{ best.brand.brand_name }}
						</h4>
						<p class="card-text descripcion">
							<strong>

								{{ best.product_description }}
							</strong>
						</p>
						<div  class="row">
							<h3 class="mr-5 precio">Precio: ${{ best.product_price | number:'.0-2' }}</h3>
							<!-- <a href="#" class="btn btn-secondary"> Comprar</a> -->
						</div>
						<div class="row" style="justify-content:center;">
							<a href="https://api.whatsapp.com/send?phone=543875851100&amp;text=Hola%20La%20Blanquita" class="decoration" target="_blank">

								<button type="button" class="btn btn-success mb-1">
									<i class="fab fa-whatsapp"></i>
									Realizar Consulta
								</button>
							</a>
						</div>
						<div class="row">
							<h3 *ngIf="best.product_stock"
									class="mr-5 stock precio">
									Hay stock
							</h3>
							<h3 *ngIf="!best.product_stock"
									class="mr-5 stock sinStock">
									No Hay stock
							</h3>

						</div>

					</div>
				</div>

				</ng-template>

		  </ng-container>

	  </owl-carousel-o>

	</div>
</div>
