.dashboard{
	background-color: #ef9b3c ;
	color: white;
}

.datatable-botones{
	display: flex;
	justify-content: center;
}


.no-data-available {
	text-align: center !important;
}


.btn-color{
	background-color: #17a2b8 ;
	color: white;
	border-color: #17a2b8;
}

.bg-orange{
	background-color: #ef9b3c;
}

.margin{
	margin-right: 5rem;
	margin-left: 5rem;
}

.panel-smart-tabla {
	padding: 20px;
	background: #fcf8db;
	border: 1px solid #fcf8db;
	border-radius: 6px;
	word-wrap: break-word;
	box-shadow: 2px 2px 12px #999;
}

.panel-smart .panel-heading {
	padding: 5px 0 15px 0;
	color: #252a2f;
	border-bottom: 1px solid #929497;
}


.table-striped tbody tr:nth-of-type(odd) {
	background-color: #eee;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
	background-color: #b1b1eb;
}

.btn-modify {
	color: #fff;
	background-color: #ecff0eeb !important;
	border-color:#ecff0eeb !important;
}


