<div class=" mt-5 mb-5 margin">
  <div class="row">
    <div class="col-lg-12 table-responsive panel-smart-tabla">
      <button type="button"
      class="btn  mb-5 float-right btn-info"
      (click)="createProduct()">
      <i class="fas fa-plus"></i>
      <strong>Producto</strong>
    </button>
    <table id="tablaM"
    datatable [dtOptions]="dtOptions"
    class="table table-responsive-sm table-bordered table-striped table-sm hover">
    <thead class="dashboard">
      <tr>
        <th>ID</th>
        <th>Nombre Producto</th>
        <th>Categoría</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="Products?.length != 0">
      <tr *ngFor="let product of Products">
        <td>{{ product.product_id }}</td>
        <td>{{ product.product_name }}</td>
        <td>{{ product.category.category_name }}</td>
        <td>{{ product.brand.brand_name }}</td>
        <td>$ {{ product.product_price | number:'.0-2' }}</td>
        <td *ngIf="product.product_stock">Si</td>
        <td *ngIf="!product.product_stock">No</td>
        <td>
          <button type="button"
          class="btn btn-primary"
          data-toggle="modal"
          [attr.data-target]="'#modal1'+ product.product_id">
          Ver
        </button>
        <div class="modal fade"
        [attr.id]="'modal1' + product.product_id"
        tabindex="-1"
        role="dialog"
        [attr.aria-labelledby]="'ModalLabel' + product.product_id"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"
              [attr.id]="'ModalLabel' + product.product_id">
              Imagen del Producto
            </h5>
            <button type="button"
                    class="btn  mb-5 float-right btn-info"
                    (click)="createProduct()">
                    <i class="fas fa-plus"></i>
                    <strong>Producto</strong>
             </button>
            <table id="tablaM"
                   datatable [dtOptions]="dtOptions"
                   class="table table-responsive-sm table-bordered table-striped table-sm hover">
                <thead class="dashboard">
                    <tr>
                        <th>ID</th>
                        <th>Nombre Producto</th>
                        <th>Categoría</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody *ngIf="Products?.length != 0">
                    <tr *ngFor="let product of Products">
                        <td>{{ product.product_id }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.category.category_name }}</td>
                        <td>{{ product.brand.brand_name }}</td>
                        <td>$ {{ product.product_price | number:'.0-2' }}</td>
                        <td *ngIf="product.product_stock">Si</td>
                        <td *ngIf="!product.product_stock">No</td>
                        <td align="center">
                          <button type="button"
                                  class="btn btn-primary"
                                  data-toggle="modal"
                                  [attr.data-target]="'#modal1'+ product.product_id">
                                  Ver
                          </button>
                          <div class="modal fade"
                               [attr.id]="'modal1' + product.product_id"
                               tabindex="-1"
                               role="dialog"
                               [attr.aria-labelledby]="'ModalLabel' + product.product_id"
                               aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title"
                                      [attr.id]="'ModalLabel' + product.product_id">
                                      Imagen del Producto
                                  </h5>
                                  <button type="button"
                                          class="close"
                                          data-dismiss="modal"
                                          aria-label="Close">
                                    <span aria-hidden="true">
                                      &times;
                                    </span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <img [src]="url_image + product.product_image"
                                       alt=""
                                       class="product-imagen">
                                </div>
                                <div class="modal-footer">
                                  <button type="button"
                                          class="btn btn-secondary"
                                          data-dismiss="modal">
                                          Cerrar
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>




<td align="center">
  <div class="row datatable-botones">

    <button type="button"
    class="btn btn-modify mr-1 px-2"
    (click)="update(product.product_id)">
    <i style="color:white !important"
    class="far fa-edit">
  </i>
</button>
<button type="button"
class="btn btn-danger px-2"
data-toggle="modal"
[attr.data-target]="'#modal' + product.product_id">
<i class="far fa-trash-alt" style="color:white !important"></i>
</button>

<!-- Modal para eliminación -->

<div class="modal fade"
[attr.id]="'modal' + product.product_id"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"
      id="exampleModalLabel">
      Confirmación de Operación
    </h5>
    <button type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
  </button>
</div>
<div class="modal-body">
  ¿Está seguro de eliminar la Categoría?
</div>
<div class="modal-footer">
  <button type="button"
  class="btn btn-primary boton-modal"
  data-dismiss="modal"
  (click)="deleteProduct(product.product_id)">
  Si
</button>
<button type="button"
class="btn btn-secondary boton-modal"
data-dismiss="modal"
aria-label="Close">
No
</button>

</div>
</div>
</div>
</div>

<!-- Fin de Modal -->
</div>


</td>
</tr>

</tbody>
<tbody *ngIf="Products?.length == 0">
  <tr>
    <td colspan="8"
    class="no-data-available text-center">
    No hay datos
  </td>
</tr>
<tbody>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Marca</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Imagen</th>
      <th>Acciones</th>
    </tr>
  </tfoot>
</table>
</div>
</div>
</div>
