.logo {
    border-radius: 15px !important;
    width: 7rem !important;
    height: 6rem !important;
    /*margin-top: 10px;*/
    margin-bottom: 10px !important;
}

@media(width:360px) {
    .logo {
        border-radius: 39px !important;
        width: 12rem !important;
        height: 14rem !important;
        margin-bottom: -35px !important;
        margin-left: 70px !important;
    }
}

@media(width:640px) {
    .logo {
        border-radius: 36px !important;
        width: 13rem !important;
        height: 15rem !important;
        margin-bottom: -34px !important;
        margin-left: 200px !important;
    }
}

@media(width:411px) {
    .logo {
        border-radius: 32px !important;
        width: 10rem !important;
        height: 12rem !important;
        margin-bottom: -35px !important;
        margin-left: 110px !important;
    }
}

@media(width:731px) {
    .logo {
        border-radius: 64px !important;
        width: 15rem !important;
        height: 15rem !important;
        margin-bottom: -30px !important;
    }
}

@media(width:823px) {
    .logo {
        border-radius: 59px !important;
        width: 12rem !important;
        height: 15rem !important;
        margin-bottom: -31px !important;
    }
}

@media(width:320px) {
    .logo {
        border-radius: 42px !important;
        width: 9rem !important;
        height: 10rem !important;
        margin-bottom: -35px !important;
        margin-left: 70px !important;
    }
}

@media(width:568px) {
    .logo {
        border-radius: 45px !important;
        width: 12rem !important;
        height: 13rem !important;
        margin-bottom: -35px !important;
        margin-left: 175px !important;
    }
}

@media(width:375px) {
    .logo {
        border-radius: 37px !important;
        width: 10rem !important;
        height: 11rem !important;
        margin-bottom: -30px !important;
        margin-left: 85px !important;
    }
}

@media(width:667px) {
    .logo {
        border-radius: 40px !important;
        width: 10rem !important;
        height: 11rem !important;
        margin-bottom: -33px !important;
    }
}

@media(width:414px) {
    .logo {
        border-radius: 30px !important;
        width: 9rem !important;
        height: 10rem !important;
        margin-bottom: -37px !important;
        margin-left: 115px !important;
    }
}

@media(width:736px) {
    .logo {
        border-radius: 35px !important;
        width: 10rem !important;
        height: 11rem !important;
        margin-bottom: -28px !important;
    }
}

@media(width:812px) {
    .logo {
        border-radius: 25px !important;
        width: 10rem !important;
        height: 11rem !important;
        margin-bottom: -32px !important;
    }
}

@media(width:768px) {
    .logo {
        border-radius: 15px !important;
        width: 10rem !important;
        height: 11rem !important;
        margin-bottom: -32px !important;
    }
}

@media(width:540px) {
    .logo {
        border-radius: 15px !important;
        width: 7rem !important;
        height: 8rem !important;
        margin-bottom: -37px !important;
        margin-left: 200px !important;
    }
}

@media(width:720px) {
    .logo {
        border-radius: 25px !important;
        width: 9rem !important;
        height: 10rem !important;
        margin-bottom: -32px !important;
    }
}

.logo-adaptado {
    justify-content: center;
}

.margen-logo {
    margin-left: 3rem;
}

.input-Search {
    font-size: 1rem !important;
}

@media(width:1024px) {
    .input-Search {
        margin-left: 1rem !important;
        font-size: 1rem !important
    }
}

@media(max-width:360px) {
    .input-Serach {
        font-size: 1rem !important;
    }
}

@media(max-width:360px) {
    .padding-columna {
        padding-right: 0px;
    }
}

.input-Search::placeholder {
    color: #9fa9b3 !important;
    font-family: Georgia, Cambria, Times, "Times New Roman";
}

.button-Search {
    width: 4rem!;
    margin-top: 0.5rem;
}

.boton-login {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #083c75 !important;
    font-weight: 600 !important;
    opacity: 0.8;
    width: 80rem;
}

.modal-header-color {
    color: white;
    background-color: #ef9b3c;
}

@media(max-width:360px) {
    .button-Serach {
        width: 4rem;
    }
}

.seccion-RedesSociales {
    margin-left: 3rem;
}

.icono-RedesSociales {
    color: #297582;
    margin-top: 3.4rem;
    font-size: 28px;
}

.icono-RedesSociales:hover {
    color: white;
}

@media(max-width:360px) {
    .icono-RedesSociales {
        color: #297582;
        margin-left: 60px !important;
        margin-top: 5px !important;
        margin-bottom: .5rem;
    }
    .icono-RedesSociales:hover {
        color: white;
    }
}

.bg-orange {
    background-color: #ef9b3c;
}


.navbar-orange {
    color: #17a2b8;
}

.btn-outline-search {
    color: #17a2b8;
    background-color: #a2723b;
    border-color: #a2723b;
}

.btn-outline-search:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-acceder {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-right: 6px;
    width: 9rem;
    /* margin-left: 3rem; */
}

.btn-acomodado {
    width: 16rem;
}

@media (max-width:360px) {
    .btn-acceder {
        font-size: 1rem;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 1rem;
        width: 100%;
    }
}

@media (max-width:414px) and (min-width:375px) {
    .btn-acceder {
        font-size: 11px;
        /* margin-left: 2px; */
        margin-right: 6px;
        margin-bottom: 1rem;
        width: 7rem;
    }
}

@media (width:640px) {
    .btn-acceder {
        width: 15rem;
    }
}

@media (width:768px) {
    .btn-acceder {
        font-size: 1.3rem;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 1rem;
        margin-top: 3.6rem !important;
        width: 14rem;
        /* width: 100% ; */
    }
}

@media (width:1024px) {
    .btn-acceder {
        font-size: 1.3rem;
        margin-left: 1rem;
        margin-right: 2px;
        margin-bottom: 1rem;
        margin-top: 3.6rem !important;
        width: 16rem;
        /* width: 100% ; */
    }
}

.letra {
    font-family: Georgia, Cambria, Times, "Times New Roman";
}

.margen-menu {
    margin-left: 12rem;
}

.margen-item-menu {
    margin-right: 40px;
}



.brand-item:hover {
    background-color: #316db2!important;
}

.links {
    color: #dee2e6 !important;
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
}

.sub-menu-color {
    background: #007bff;
}

.user_logo {
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
}

.btn-logout {
    margin-left: 6rem;
    margin-right: 15px;
    font-size: 0.75rem;
    margin-bottom: 1.2rem;
    margin-right: 6px;
    width: 9rem;
    height: 2rem;
    display: flex;
    color: #343a40!important;
    background-color: #ff6529;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.user-logo-big {
    margin-top: 13px;
}

.btn-logout-big {
    margin-top: 50px;
}

.dropdown-big {
    margin-top: 30px;
}

.dropdown-menu-big {
    left: -93px !important;
    background-color: #17a2b8;
}

@media (max-width:360px) {
    .dropdown-menu-big {
        left: -43px !important;
    }
}

@media (max-width:411px) {
    .dropdown-menu-big {
        left: -40px !important;
    }
}

@media (width:768px) {
    .dropdown-menu-big {
        left: -140px !important;
    }
}

@media (width:1024px) {
    .dropdown-menu-big {
        left: -40px !important;
    }
}

@media(min-width: 768px) {
    .alineacion-user {
        display: flex;
    }
}

@media(width: 731px) {
    .alineacion-user {
        display: flex;
    }
}

@media(width: 667px) {
    .alineacion-user {
        display: flex;
    }
}

@media(width: 736px) {
    .alineacion-user {
        display: flex;
    }
}

@media(width: 720px) {
    .alineacion-user {
        display: flex;
    }
}

@media(width: 653px) {
    .alineacion-user {
        display: flex;
    }
}

.dropdown-item-big {
    color: white !important;
    cursor: pointer;
}

.dropdown-item-big:hover {
    background-color: #1c5ea0;
}

.btn-dropdown {
    height: 60px;
    width: 65px;
    margin-left: 3px;
}

.btn-dropdown:focus {
    box-shadow: 0 0 0 0.2rem rgb(239 155 60) !important;
}

@media (max-width:360px) {
    .btn-logout {
        font-size: 1.3rem;
        margin-left: -250px;
        margin-right: 2px;
        margin-bottom: 1rem;
        /*width: 70%;*/
        width: 64%;
        display: flex;
        justify-content: center;
        color: #343a40!important;
        background-color: #ff6529;
        border-radius: 8px;
    }
}

@media (width:640px) {
    .btn-logout {
        width: 15rem;
    }
}

@media (width:768px) {
    .btn-logout {
        font-size: 1.3rem;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 1rem;
        margin-top: 3.6rem !important;
        width: 14rem;
        /* width: 100% ; */
    }
}

@media (width:1024px) {
    .btn-logout {
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 2px;
        margin-bottom: 4rem;
        margin-top: 3.1rem !important;
        width: 10rem;
        /* width: 100% ; */
    }
}

.btn-logout-ipad {
    font-size: 1.5rem;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1rem;
    margin-top: 2.6rem !important;
    width: 16rem;
    height: 45px;
}

.cerrar-sesion {
    display: flex;
}

.perfil-modal-image {
    display: flex;
    justify-content: center;
}

.perfil-modal {
    width: 64px;
    height: 64px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.scroll{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #007bff;
}

.scroll::-webkit-scrollbar {
    /*-webkit-appearance: none;*/
    background: #007bff;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #316db2;
    border-radius: 20px;
    border: 2px solid #316db2;
}


/*@media(max-width:768px) {
    .cerrar-sesion {
        display: flex;
    }
    }*/
