<header>

  <!-- Para WEB y Telefono Celular -->
  <div *ngIf="(scrWidth > 768 && scrWidth > 1024) || (scrWidth >= 360 && scrWidth <= 640)">

        <div class="row bg-orange">
          <div class="col-md-2 padding-columna " *ngIf="(scrWidth > 768 && scrWidth > 1024) || (scrWidth >= 360 && scrWidth <= 640)"  >
            <!-- Logo de "La Blanquita" -->
            <div class=" row logo-adaptado">

              <a class="navbar-brand margen-logo mt-3 " href="#" [routerLink]="['']">
                <img src="assets/img/test_logo.jpg" alt="" class="logo">
              </a>
            </div>
          </div>
          <div class="col-md-6 padding-columna">
            <form>
              <div class="input-group mb-3 mt-5">
                <input
                type="search"
                class="form-control input-Search"
                placeholder="Buscar Producto, Marcas y mas ..."
                aria-label="Search"
                (keyup.enter)="buscarProducts(buscadorText.value)"
                #buscadorText>
                <button
                        class="btn btn-outline-search  my-sm-0"
                        type="submit">
                        <i class="fas fa-search fa-2x"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-4 padding-columna">


              <i class="fab fa-facebook fa-2x ml-5 mr-2 icono-RedesSociales "></i>
              <i class="fab fa-instagram fa-2x mr-2 icono-RedesSociales "></i>
              <i class="fab fa-twitter fa-2x mr-2 icono-RedesSociales "></i>


              <button  type="button"
                       class="btn btn-info btn-acceder ">
                      <i class="fas fa-user mr-2"></i> Acceder
              </button>
              <button  type="button"
                       class="btn btn-info btn-acceder ">
                       <i class="fas fa-user-plus mr-2"></i> Registrate
              </button>


          </div>

    </div>
  </div>
  <!-- Para Ipad o Tablet -->
  <div class="row bg-orange "
       *ngIf="scrWidth == 768 || scrWidth == 1024"
       [class.logo-adaptado]="scrWidth == 768 || scrWidth == 1024">
    <a class=" margen-logo mt-3"  [routerLink]="['']">
      <img src="assets/img/test_logo.jpg" alt="" class="logo" width="100">
    </a>
  </div>
  <!-- Para width igual 768px -->
  <div class="row bg-orange"
       *ngIf="scrWidth == 768  || scrWidth == 1024">
    <div class="col-md-12 ">
      <form>
        <div class="input-group  mt-5">

                    <input type="search" class="form-control input-Search" placeholder="Buscar Producto, Marcas y mas ..." aria-label="Search" (keyup.enter)="buscarProducts(buscadorText.value)" #buscadorText>
                    <button class="btn btn-outline-search  my-sm-0" type="submit">
            <i class="fas fa-search fa-2x"></i>
          </button>
                </div>
            </form>
        </div>
        <div class="col-md-4 ">
            <i class="fab fa-facebook fa-2x ml-5 mr-2 icono-RedesSociales"></i>
            <i class="fab fa-instagram fa-2x mr-2 icono-RedesSociales"></i>
            <i class="fab fa-twitter fa-2x mr-2 icono-RedesSociales"></i>
        </div>

    </div>
    <div class="col-md-4">
      <i class="fab fa-facebook fa-3x ml-5 mr-2 mb-5 icono-RedesSociales "></i>
      <i class="fab fa-instagram fa-3x mr-2  mb-5 icono-RedesSociales "></i>
      <i class="fab fa-twitter fa-3x mr-2 mb-5 icono-RedesSociales "></i>
    </div>
    <div class="col-md-8 ">
      <button  type="button"
               class="btn btn-info btn-acceder mt-5">
              <i class="fas fa-user mr-2"></i> Acceder
      </button>
      <button  type="button"
               class="btn btn-info btn-acceder mt-5">
               <i class="fas fa-user-plus mr-2"></i> Registrate
      </button>
    </div>
  </div>
  <!-- Para width 1024 px -->
  <!-- <div class="row bg-orange"
       *ngIf="scrWidth == 1024">
    <div class="col-md-5">
      <form>
        <div class="input-group mb-5 mt-5">

          <input
            type="search"
            class="form-control input-Search"
            placeholder="Buscar Producto, Marcas y mas ..."
            aria-label="Search"
            (keyup.enter)="buscarProducts(buscadorText.value)"
            #buscadorText>
          <button
            class="btn btn-outline-search  my-sm-0"
            type="submit">
            <i class="fas fa-search fa-2x"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-7">
      <i class="fab fa-facebook fa-3x ml-5 mr-2 mb-5 icono-RedesSociales "></i>
      <i class="fab fa-instagram fa-3x mr-2  mb-5 icono-RedesSociales "></i>
      <i class="fab fa-twitter fa-3x mr-2  icono-RedesSociales "></i>
      <button  type="button"
               class="btn btn-info btn-acceder ">
              <i class="fas fa-user "></i> Acceder
      </button>
      <button  type="button"
               class="btn btn-info btn-acceder ">
               <i class="fas fa-user-plus "></i> Registrate
      </button>
    </div>
  </div> -->



  <div class="row bg-primary">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </nav>
  </div>

        </nav>
    </div>

</header>