<header class="bg-orange">

  <!-- Para WEB y Telefono Celular -->
  <div *ngIf="(scrWidth > 768 && scrWidth > 1024) || (scrWidth >= 360 && scrWidth <= 640)">

        <div class="row adaptacion bg-orange">

                <div class=" row  logo-adaptado">

                  <a class="navbar-brand margen-logo mt-3 " href="#" [routerLink]="['']">
                    <img src="assets/img/test_logo.jpg" alt="" class="logo">
                  </a>
                </div>

                <div class="col-md-6 padding-columna">
                  <form>
                    <div class="input-group mb-3 mt-5">
                      <input type="search"
                      class="form-control input-Search"
                      placeholder="Buscar Producto, Marcas y mas ..."
                      aria-label="Search"
                      (keyup.enter)="buscarProducts(buscadorText.value)"
                      #buscadorText>
                      <button class="btn btn-outline-search  my-sm-0"
                      type="submit">
                      <i class="fas fa-search "></i>
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-md-4 padding-columna">


                <i class="fab fa-facebook   mr-2 icono-RedesSociales "></i>
                <i class="fab fa-instagram  mr-2 icono-RedesSociales "></i>
                <i class="fab fa-twitter  mr-2 icono-RedesSociales "></i>


                <button type="button"
                class="btn btn-info btn-acceder letra"
                [class.btn-acomodado]="scrWidth == 640">
                <i class="fas fa-user mr-2"></i> Acceder
              </button>
              <button type="button"
              class="btn btn-info btn-acceder letra"
              [class.btn-acomodado]="scrWidth == 640">
              <i class="fas fa-user-plus mr-2"></i> Registrate
            </button>


          </div>

        </div>
    </div>
    <!-- Para Ipad o Tablet -->
    <div class="row bg-orange logo-adaptado adapatacion" *ngIf="scrWidth == 768 || scrWidth == 1024" >



        <a class=" margen-logo mt-3 " [routerLink]="['']">
          <img src="assets/img/test_logo.jpg" alt="" class="logo" >
        </a>


    </div>
    <!-- Para width igual 768px -->
    <div class="row  adapatacion bg-orange" *ngIf="scrWidth == 768  || scrWidth == 1024">
        <div class="col-md-12 ">
          <form>
            <div class="input-group  mt-5">

                    <input type="search"
                           class="form-control input-Search"
                           placeholder="Buscar Producto, Marcas y mas ..."
                           aria-label="Search"
                           (keyup.enter)="buscarProducts(buscadorText.value)"
                           #buscadorText>
                    <button class="btn btn-outline-search  my-sm-0" type="submit">
                      <i class="fas fa-search "></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
          <i class="fab fa-facebook fa-3x ml-5 mr-2 mb-5 icono-RedesSociales "></i>
          <i class="fab fa-instagram fa-3x mr-2  mb-5 icono-RedesSociales "></i>
          <i class="fab fa-twitter fa-3x mr-2 mb-5 icono-RedesSociales "></i>
        </div>
        <div class="col-md-8 ">
          <button type="button" class="btn btn-info btn-acceder mt-5 letra">
            <i class="fas fa-user mr-2"></i> Acceder
          </button>
          <button type="button" class="btn btn-info btn-acceder mt-5 letra">
           <i class="fas fa-user-plus mr-2"></i> Registrate
         </button>
       </div>
     </div>

    <!-- Entre 1024 px y 640 -->
    <div class="" *ngIf="(scrWidth < 1024 && scrWidth > 640) && scrWidth != 768">
      <div class="row adapatacion logo-adaptado">
        <a class=" margen-logo mt-3 " [routerLink]="['']">
          <img src="assets/img/test_logo.jpg" alt="" class="logo" >
        </a>
      </div>
      <div class="row adapatacion">

        <div class="col-md-12 ">
          <form>
            <div class="input-group  mt-5">

              <input type="search" class="form-control input-Search" placeholder="Buscar Producto, Marcas y mas ..." aria-label="Search" (keyup.enter)="buscarProducts(buscadorText.value)" #buscadorText>
              <button class="btn btn-outline-search  my-sm-0" type="submit">
                <i class="fas fa-search "></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <i class="fab fa-facebook fa-3x ml-5 mr-2 mb-5 icono-RedesSociales "></i>
          <i class="fab fa-instagram fa-3x mr-2  mb-5 icono-RedesSociales "></i>
          <i class="fab fa-twitter fa-3x mr-2 mb-5 icono-RedesSociales "></i>
        </div>
        <div class="col-md-8 ">
          <button type="button" class="btn btn-info btn-acceder mt-5 letra">
            <i class="fas fa-user mr-2"></i> Acceder
          </button>
          <button type="button" class="btn btn-info btn-acceder mt-5 letra">
            <i class="fas fa-user-plus mr-2"></i> Registrate
          </button>
        </div>
      </div>

    </div>

    <div class="row adaptacion bg-primary">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarNavAltMarkup"
             [class.margen-menu]="scrWidth > 990 ">

             <ul class="navbar-nav">
                <li class="nav-item "
                    routerLinkActive="activo"
                    [routerLinkActiveOptions]="{exact: true}">

                    <a class="nav-link   letra"
                       [routerLink]="['']"
                       [class.margen-item-menu]="scrWidth>990">
                       Inicio
                    </a>
                </li>
                <li class="nav-item mr-5 ml-2 dropdown"
                    routerLinkActive="activo" >

                    <a class="nav-link dropdown-toggle "
                       style="color:white;"
                       id="navbarDropdownBrand"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                       <strong>Marcas</strong>
                     </a>

                     <div class="dropdown-menu  navbar-dark "
                          aria-labelledby="navbarDropdownBrand">
                          <a class="dropdown-item nav-link brand-item links"
                             [routerLink]="['dashboardBrand']">Gestion de Marcas
                          </a>
                          <div class="dropdown-divider "></div>
                          <a class="dropdown-item nav-link brand-item "
                             style="color:white;"
                             *ngFor="let brand of listBrands" >
                             {{ brand.brand_name }}
                          </a>
                     </div>
                </li>
                <li class="nav-item"
                    routerLinkActive="activo">

                    <a class="nav-link   letra"
                       [routerLink]="['ubicacion']"
                       [class.margen-item-menu]="scrWidth>990">
                       Ubicación
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  letra"
                     [class.margen-item-menu]="scrWidth>990">
                     Contacto
                  </a>
                </li>
            </ul>
        </div>
      </nav>
   </div>

</header>
