.logo{
  width: 7rem;
  height: 6rem;
}

.logo-adaptado{
  justify-content: center;
}

.margen-logo{
  margin-left: 3rem;
}

.input-Search{
  font-size: 1rem !important;
}

@media(width:1024px){
  .input-Search{
    margin-left: 1rem !important;
    font-size: 1rem !important
  }
}

@media(max-width:360px){
  .input-Serach{
    font-size: 1rem !important;

  }
}

@media(max-width:360px){
  .padding-columna{
    padding-right:  0px;
  }
}


.input-Search::placeholder{
  color:  #9fa9b3 !important;
  font-family: Georgia, Cambria, Times, "Times New Roman";
}

.button-Search{
  width: 4rem!;
  margin-top: 0.5rem;
}

@media(max-width:360px){
  .button-Serach{
    width: 4rem;
  }
}

.seccion-RedesSociales{
  margin-left: 3rem;
}

.icono-RedesSociales{
  color: #297582;
  margin-top: 3.4rem;
  font-size: 28px;
}

.icono-RedesSociales:hover{
  color: white;

}

@media(max-width:360px){
  .icono-RedesSociales{
    color: #297582;
    margin-left: 60px !important;
    margin-top: 5px !important;
    margin-bottom: .5rem;
  }

  .icono-RedesSociales:hover{
    color: white;
  }
}

.bg-orange{
  background-color: #ef9b3c;
}

.navbar-orange{
  color: #17a2b8;
}


.btn-outline-search {
  color: #17a2b8;
  background-color: #a2723b;
  border-color: #a2723b;
}

.btn-outline-search:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}


.btn-acceder{
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-right: 6px;
  width: 9rem;
  /* margin-left: 3rem; */
}

.btn-acomodado{
  width:16rem;
}
@media (max-width:360px) {
  .btn-acceder{
    font-size: 1rem;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1rem;
    width: 100% ;
  }
}

@media (width:640px) {
  .btn-acceder{
    width: 15rem ;
  }
}
@media (width:768px) {
  .btn-acceder{
    font-size: 1.3rem;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1rem;
    margin-top: 3.6rem !important;
    width: 14rem;
    /* width: 100% ; */
  }
}

@media (width:1024px) {
  .btn-acceder{
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 2px;
    margin-bottom: 1rem;
    margin-top: 3.6rem !important;
    width: 16rem;
    /* width: 100% ; */
  }
}

.letra{
  font-family: Georgia, Cambria, Times, "Times New Roman";
}

.margen-menu{
  margin-left:  12rem;
}

.margen-item-menu{
  margin-right: 40px;
}



.activo a{
  color:  #f5c58e;
}

.scroll{
  max-height: 558px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #1f3e0a;
  border-radius: 20px;
  border: 2px solid #1f3e0a;
}

.brand-item:hover{
  background-color: #021327!important;
}

.links {
  color:#dee2e6 !important;
  padding-right: 3.5rem !important;
  padding-left: 3.5rem !important;
}
